img{
  width: 70%;
  /* height: fit-content; */
  display: flex;
  align-self: center;
  aspect-ratio: 3/2;
  margin: 0 auto;
  padding: 20px;
}
iframe{
  width: 70%;
  height: fit-content;
  padding: 20px;
  display: flex;
  aspect-ratio: 3/2;
  align-self: center;
  margin: 0 auto;
}